E:\GenAi-KN-Udemy\MCPLangchainDemo\.venv
E:\GenAi-KN-Udemy\AgenticAIWorkspace\venv
E:\GenAi-KN-Udemy\AgenticAIWorkspace\venv
.\AgenticAIWorkspace\venv
E:\GenAi-KN-Udemy\Project\project2-BlogAgentic\.env